// HEADER //
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(212, 212, 212, 0.6);
  background-color: #fff;

  img {
    height: 100%;
    margin-left: 1rem;
  }
}

nav {
  height: 100%;
  @include flexbox(row);

  a {
    @include flexbox(row);

    color: $text-color;
    height: 100%;
    margin-right: 3rem;
    font-size: 1.5rem;

    .hover {
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 2px;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        background-color: rgba($text-color, 0.6);
      }
    }

    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: $xl-screen) {
  // header
  header {
    img {
      width: 4rem;
    }
  }

  nav {
    a {
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: $l-desktop) {
  .nav {
    a {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: $tablet) {
  // nav
  header {
    padding: 1rem;

    img {
      margin-left: 2rem;
      width: 3.5rem;
    }
  }

  nav {
    a {
      font-size: 1.2rem;
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: $l-mobile) {
  header {
    padding: 1rem;

    img {
      margin-left: 0.5rem;
      width: 3rem;
    }
  }

  nav {
    a {
      font-size: 1rem;
      margin-right: 1.5rem;
    }
  }
}

@media only screen and (max-width: $mobile) {
  header {
    padding: 1rem;

    img {
      margin-left: 0;
      width: 3rem;
    }
  }

  nav {
    a {
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: $s-mobile) {
  nav {
    a {
      margin-right: 0.7rem;
    }
  }
}
