// TITLE SECTION
.title {
  width: 100%;
  height: 90vh;
  @include flexbox(row);
  margin: 0;
}

.titleHeaders {
  @include flexbox(column);
  align-items: flex-start;
  // display: inline-block;
  padding-left: 3rem;
  width: 40%;
  height: 100%;

  h1,
  h2 {
    width: 70%;
    font-size: 4rem;
    font-family: 'Poppins';
    text-align: left;
    color: $text-color;
    // z-index: 1;
    margin: 0.5rem;
    opacity: 0;
  }

  &.loaded {
    h1,
    h2 {
      opacity: 1;
      transition: opacity 3s ease 2s;
    }
  }
}

.titleImages {
  display: inline-block;
  justify-self: flex-end;

  height: 100%;
  width: 50%;
  position: relative;

  .justYlva {
    position: absolute;
    bottom: 50%;
    transform: translateY(76%);
    right: -60rem;
    z-index: 0;
    width: 35%;
  }

  .ylvaBg {
    position: absolute;
    bottom: 50rem;
    right: -80rem;
    z-index: -1;
    width: 90%;
  }
}

.titleImages.loaded {
  .justYlva {
    right: 25%;
    transition: right 2.5s 0.5s cubic-bezier(0.28, 0.06, 0.23, 1.11);
  }

  .ylvaBg {
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    transition: bottom 2.5s cubic-bezier(0.28, 0.06, 0.23, 1.11),
      right 2.5s cubic-bezier(0.28, 0.06, 0.23, 1.11);
  }
}

// MEDIA QUERIES //

@media only screen and (max-width: $xl-desktop) {
  // title
  .titleHeaders {
    width: 45%;

    h1,
    h2 {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: $l-desktop) {
  // title
  .title {
    margin: 0;
    justify-content: space-evenly;
    height: 90vh;

    .ylvaBg {
      width: 90%;
    }

    .justYlva {
      width: 35%;
    }
  }

  .titleHeaders {
    padding-left: 0;
    width: initial;

    h1,
    h2 {
      font-size: 3rem;
      width: 100%;
    }
  }
}

@media only screen and (max-width: $desktop) {
  // title
  .titleHeaders {
    padding-left: 2rem;
  }

  .titleImages {
    width: 60%;
  }
}

@media only screen and (max-width: $tablet) {
  // title
  .title {
    justify-content: space-between;
    height: 80vh;

    h1,
    h2 {
      font-size: 2rem;
    }

    .titleHeaders {
      padding-left: 2rem;
      width: 45%;
    }

    .titleImages {
      width: 80%;
    }
  }
}

@media only screen and (max-width: $l-mobile) {
  // title
  .title {
    // margin: 2rem 0 3rem;
    height: 90vh;
    position: relative;

    .titleHeaders {
      margin: auto;
      position: absolute;
      width: 100%;
    }

    h1,
    h2 {
      font-size: 1.9rem;
      margin: 0.2rem 0;
      width: 80%;
    }

    .titleImages {
      width: 100%;
    }

    .ylvaBg {
      width: 100%;
    }

    .justYlva {
      width: 40%;
      z-index: -1;
    }

    .loaded {
      .justYlva {
        right: 6%;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  // title
  .title {
    .titleImages {
      width: 100%;
    }

    .loaded {
      .justYlva {
        right: 2%;
      }
    }
  }
}

@media only screen and (max-width: $s-mobile) {
  // title
  .title {
    .titleHeaders {
      padding: 1rem;
    }
    h1,
    h2 {
      font-size: 1.6rem;
    }
  }
}
