@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import './base/settings';
@import './utils/mixins';
@import './partials/general';
@import './partials/header';
@import './partials/titleSection';
@import './partials/projectsSection';
@import './partials/contacts';
@import './mediaQueries/mediaQueries';
